---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <h1>Contacto</h1>
    <p>Puedes contactarme a través de este formulario o por correo electrónico.</p>
    <!-- Aquí irá el formulario de contacto -->
  </main>
</BaseLayout>

