---
import BaseLayout from "../layouts/BaseLayout.astro";
const base = import.meta.env.BASE_URL || '/devnove-site/';
---

<BaseLayout base={base}>
  <main>
    <h1>Bienvenido a mi sitio web</h1>
    <p>Explora mi portafolio, descarga tus aplicaciones o contáctame.</p>
  </main>
</BaseLayout>
