---
import Navbar from "../components/Navbar.astro";
const { base = '/devnove-site' } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/devnove-site/styles/global.css" />
    <slot name="head" />
    <title><slot name="title" />Devnove</title>
  </head>
  <body>
    <Navbar base={base} />
    <slot />
  </body>
</html>
