---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout>
  <main>
      <h1>Mi Portafolio</h1>
      <p>Aquí podrás ver algunos de mis proyectos destacados.</p>
      <!-- Aquí irán los proyectos -->
    </main>
  </body>
</html>

---
